<br>
<h2>Editing client</h2>
<hr>

<%= render "form", client: @client %>

<hr>
<br>
<div>
  <%= link_to "Show this client", @client, class:"btn btn-secondary" %> 
  <%= link_to "Back to clients", clients_path, class:"btn btn-secondary" %>
</div>
